<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Wikipedia Search Engine</title>
  <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Wikipedia Search Engine</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css'>
      <link rel="stylesheet" href="css/style.css">
</head>
<body>
  	<div class="main">
		<!-- Home Page -->
		<div class="home">
			<div class="container">
				<div class="row">
					<div class="eight columns offset-by-two">
						<h1 class="headline">微信公众号搜索引擎</h1>
					</div>
				</div>
				<div class="row">
					<div class="eight columns offset-by-two">
						<form action="" class="wiki-search-form">
							<input type="search" placeholder="请输入公众账户" class="wiki-search-input" id="wiki-search-input">
							<button class="button btn btn-wiki">搜&nbsp;&nbsp;索</button>
							<a class="button btn btn-lucky" href="http://en.wikipedia.org/wiki/Special:Random" target="_blank">Lucky</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <script  src="js/index.js"></script>
</body>
</html>
